<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
<meta name="keywords" content="{king:keywords code="htmlencode" /}" />
<meta name="description" content="{king:description code="htmlencode"/}" />
<title>{king:title/}</title>
<link href="images/style.css" rel="stylesheet" type="text/css" />
</head>
<body>

<div id="top">
	<a href="/" class="left">
		<img src="images/logo.png" alt="{king:sitename code="htmlencode"/}" />
	</a>

	<div class="right">

		<div class="box">
			约有<strong>{king:ad name="vernumber" type="js"/}</strong>个网站正在使用KingCMS 5.0
		</div>

		<p>
			<span>
				<a href="/News/">更新</a>
				<a href="/Download/">下载</a>
				<a href="/License/">许可</a>
			</span>

			<span>
				<a href="/Help/">帮助</a>
				<a href="/Glossary/">术语</a>
			</span>

			<span>
				<a href="/Enterprises/">企业网站解决方案</a>
			</span>

			<span>
				<a href="/Service/">服务&报价</a>
			</span>

			<span>
				<a href="http://club.adsenser.org/forum-38-1.html" class="s" target="_blank">讨论交流</a>
			</span>
		</p>

	</div>
</div>


<div id="main">
	<!-- 左侧大框 -->
	<div class="left mainleft">
		<div id="guide">
			{king:guide name="当前位置"/}
		</div>
		<h1 class="title">{king:title/}</h1>
		{king:inside/}
	</div>


	<!-- 右侧大框 -->
	<div class="right mainright">

		<!-- 下载 -->
		{king:ad name="download" type="js"/}

		<!-- 许可协议 -->
		<div class="box license">
			<h3 class="title1"><strong>许可协议</strong><a href="/License/"><img src="images/more.gif"/></a></h3>
			<p class="p">
				<strong>免费! </strong>可以用在商业用途网站。包括个人及企业网站，而无需支付使用费用，仅需保留KingCMS支持信息链接即可。<br/>详细协议请阅读许可协议文档。
			</p>

			<p class="title3"><span><a href="http://www.kingcms.com/KingCMS 5.0 许可协议.doc" target="_blank">下载完整许可协议文档(Word格式)</a></span></p>
			<p class="title4"><span><a href="/License/">进入许可协议页面</a></span></p>
		</div>

		<!-- 术语 -->
		<div class="box detail">
			<h3 class="title1"><strong>术语详解</strong><a href="/Glossary/"><img src="images/more.gif"/></a></h3>
			<p>
				{king:article type="child" number="15" listid="6"}
				<a href="(king:path/)" class="s(king:commend/)">(king:title/)</a>
				{/king}
			</p>
		</div>

	</div>

</div>

<div id="bottom">
	<div class="left">&copy; 2004-2008  <a href="http://www.KingCMS.com/">KingCMS.com</a> All rights reserved. {king:cms/}</div>
	<div class="right">
		<a href="/About/">关于KingCMS</a> | 
		<a href="/Contact/">联系方式</a> | 
		<a href="/Payment/">付款方式</a> | 
		<a href="/Disclaimer/">免责条款</a>
	</div>
</div>

</body>
</html>
