<div class="next">设计制作：{king:author/}</div>
<div class="next">系统版本：{king:downloadversion/}</div>
<div class="next">演示地址：<a href="{king:demopath/}" target="_blank">{king:demopath/}</a></div>
<div class="next">下载地址：<a href="{king:downloadpath/}" target="_blank">{king:downloadpath/}</a> {king:size/}</div>


<div class="content">
	{king:content/}
</div>

<div class="next">上一页：{king:lastpage/}</div>
<div class="next">下一页：{king:nextpage/}</div>
<div class="next">关键字：{king:keywords url="(king:page/)download/search.asp?query="/}</div>
<div class="next">共查看：{king:hit/} 次</div>

<div class="box">
	<h3 class="title1"><strong>评论</strong></h3>
	{king:comment/}

	{king:comment#post/}
</div>
